<h1>Voici le restaurant</h1>
<div class="m-3">
  <h2><%= @restaurant.name %></h2>
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.category %></p>
  <p><%= @restaurant.phone_number %></p>
  <%= link_to "Create a new review", new_restaurant_review_path(@restaurant) %>
  <p><%= link_to "back", restaurants_path%></p>
</div>


<h2><strong>Reviews</strong></h2>
<div>
  <p><% @restaurant.reviews.each do |review| %></p>
  <p><%= review.content %></p>
  <p><%= review.rating %></p>
  <p><% end %></p>
</div>
